<div class="app-no-slot">
    <div class="slot-container">
        <div class="slot">
            <!-- <div class="no11"></div> -->
        </div>
        <div class="slot">
            <!-- <div class="no2"></div> -->
        </div>
        <div class="slot">
            <!-- <div class="no9"></div> -->
        </div>
        <div class="slot">
            <!-- <div class="no23"></div> -->
        </div>
        <div class="slot">
            <!-- <div class="no4"></div> -->
        </div>
        <div class="slot">
            <div class="normal"></div>
        </div>
    </div>
</div>